$base-style
  h1
    font-size: 2em
  h2
    font-size: 1.5em
  h3
    font-size: 1.3em
  h4
    font-size: 1.2em
  h5
    font-size: 1em
  h6
    font-size: 1em
    color: #999
  h1, h2, h3, h4, h5, h6
    line-height: 1.1em
    margin: 1.1em 0
    font-weight: bold
  p,table
    line-height: 1.6em
    margin: 1.6em 0
  a
    text-decoration: underline
  hr
    border: 1px dashed #ddd
  strong
    font-weight: bold
  em, cite
    font-style: italic
  sup, sub
    font-size: 0.75em
    line-height: 0
    position: relative
    vertical-align: baseline
  sup
    top: -0.5em
  sub
    bottom: -0.2em
  small
    font-size: 0.85em
  acronym, abbr
    border-bottom: 1px dotted
  blockquote
    font-family: font-serif
    font-size: 1.4em
    margin: 1.6em 20px
    text-align: left
    footer
        font-size: font-size
        margin: 1.6em 0
        font-family: font-sans
        cite
            &:before
                content: "—"
                padding: 0 0.5em
  ul, ol, dl
    margin: 0 20px
    line-height: 1.6em
  ul, ol
    ul, ol
      margin-top: 0
      margin-bottom: 0
  ul
    list-style: disc
  ol
    list-style: decimal
  dt
    font-weight: bold

  img, video
    max-width: 100%
    height: auto
    display: block
    margin: auto
  iframe
    border: none
  table
    width: 100%
    border-collapse: collapse
    border-spacing: 0
  th
    font-weight: bold
    border-bottom: 3px solid #ddd
    padding-bottom: 0.5em
  td
    border-bottom: 1px solid #ddd
    padding: 10px 0
  figure
    table
      width: auto
      margin: 0
    td
      border: none
      padding: 0
