// Grids
aside-width = 360px
menu-height = 64px

// Fonts
font-sans = "Helvetica Neue", Helvetica, Arial, Microsoft Yahei, sans-serif
font-serif = Georgia, "Times New Roman", serif
font-size = 14px
font-icon = FontAwesome
font-icon-path = "fonts/fontawesome-webfont"
font-icon-version = "4.0.3"

// Color
aside-bg-color = #938e8b
menu-bg-color = #fa9b59
