// Grids
media-max-width = 1000px
media-min-width = 800px
aside-width = 360px
aside-percentage = 32%
menu-height = 64px

// Fonts
font-sans = "Helvetica Neue", Helvetica, Arial, Microsoft Yahei, sans-serif
font-serif = Georgia, "Times New Roman", serif
font-mono = "Source Code Pro", Consolas, Monaco, Menlo, Consolas, monospace
font-size = 14px
font-icon = FontAwesome
font-icon-path = "fonts/fontawesome-webfont"
font-icon-version = "4.0.3"
line-height = 1.6em

// Color
aside-bg-color = #938e8b
menu-bg-color = #fa9b59
color-background = #eee
color-border = #ddd

//Layout
article-padding = 20px
