<div class="m-menu">
    <ul>
        <% theme.menu.forEach(function(item) { %>
            <li><a href="<%- url_for(item.url) %>" class="<%= is_current(item.title.toLowerCase()) ? 'current' : '' %>"><%= __(item.title.toLowerCase()) %>
</a></li>
        <% }) %>
    </ul>
</div>